{% load static %}
    <div class = 'my_div'>
        <div class="my_div_left">
            <div class="my_div_left">
                <p align="left">Количество слов на изучении: <span style="font-weight: bold;">{{ number_of_words_to_study }}</span></p>
            </div>
            <div class="my_div_right">
                <p align="rt">Последнее добавленное слово:<a href="./add_new/{{ last_added_word }}"><b>{{ last_added_word }}</b></a></p>
            </div>
        </div>
        <div class="my_div_right">
            <p align="right">Изучено слов: <span style="font-weight: bold;">{{ number_of_words_learned }}</span></p>
        </div>
    </div>
